:root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
    --blue:rgba(6, 174, 252, 0.3);
    --yellow:rgba(250, 255, 102, 0.3);
    --greenc:rgba(0, 128, 0, 0.3);
    --brown:#652201;
  }


body {
        position: relative;
        top:100px;
        background: var(--bg);
        color: var(--fontColor);
        font-family: helvetica;
        text-align:center;
}

div {
    border: var(--DivBor);
    font-family: monospace;
    width:var(--DivWid);
    height:var(--DivHei);
    line-height:var(--DivTHei);
    float:var(--DivFlo);
    margin:10px;
    font-size:20px;
}

h1 {
    font-size: xx-large;
    font-family: monospace;
    text-align: center;
    text-decoration:wavy ;
    color:rgb(0, 61, 71);
    
}
h2{
  color:rgba(0, 33, 121, 0.817);
  
}
h3{
  color:rgba(0, 33, 121, 0.817);
  
}

.btn {
    position: absolute;
    top: 1%;
    left:1%;
    height: 50px;
    width: 100px;
}



  
ul {
    font-family: helvetica;
}

li {
    list-style: circle;
  }

  .list{
    list-style: square;
  }
  
  #msg {
    font-family: monospace;
  }

 
  .dark-theme {
    --fontColor: var(--black);
    background-image: url(p/bkg.png);
    background-size:100% 100%;
    background-attachment: fixed; 
  }
  
  .light-theme {
    --fontColor: var(--white);
    background-image: url(p/bkg2.png);
    background-size:100% 100%;
    background-attachment: fixed;  
  }

  .sidebar_b1{

    --DivBor:4px  rgb(255, 187, 0);
    --DivWid:48%;
    --DivHei:370px;
    --DivFlo:left;
    background-image: url(p/b1.png);
    background-size: 100% 100%;
    border-style: double;
  }
  
  .sidebar_b2{
    --DivBor:4px  rgb(160, 12, 229);
    --DivWid:48%;
    --DivHei:400px;
    --DivFlo:right;
    background-image: url(p/b2.png);
    background-size: 100% 100%;
    border-style: dashed;
  }

  .sidebar_b3{

    --DivBor:4px  rgb(160, 12, 229);
    --DivWid:48%;
    --DivHei:400px;
    --DivFlo:left;
    background-image: url(p/b3.png);
    background-size: 100% 100%;
    border-style: dashed;
  }

  .sidebar_b4{

    --DivBor:4px  rgb(255, 187, 0);
    --DivWid:48%;
    --DivHei:370px;
    --DivFlo:right;
    background-image: url(p/b4.png);
    background-size:100% 100%;
    border-style: double;
  }

  .sidebar_below{

    --Divbg:white;
    --DivfontColor:black;
    --DivBor:4px  rgb(59, 14, 243);
    --DivWid:98%;
    --DivFlo:left;
    background-image: url(p/bkg2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    border-style: ridge;

  }

  .sidebar_b{

    --Divbg:white;
    --DivfontColor:black;
    --DivBor:4px  rgb(59, 14, 243);
    --DivWid:98%;
    --DivFlo:left;
    background-image: url(p/b5.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    border-style:dotted;

  }



  img {
    width: 100%;
    height: 100%;
  }
  
  mark {
    color: blue ;
    background-color: white;
    font-weight: bold;
  }